* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/**inicio-container header**/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 3%;
  background: #0f3245;
}

.header .logo img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.header .navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 10px 0px;
  font-weight: 500;
  position: relative;
}

.navbar a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffa954;
  margin-top: 5px;
  transition: 0.3s;
  position: absolute;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #ffa954;
  display: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons a {
  background: #13293d;
  padding: 7px 9px;
  border-radius: 4px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: 0.4s;
}

.icons img {
  height: 25px;
  width: 25px;
}

.icons a:hover {
  transform: scale(1.2);
  color: #1a2334;
  background: #fff;
}

.header .campo-busca {
  position: absolute;
  top: 110%;
  right: -110%;
  height: 100%;
  width: 30rem;
  height: 3rem;
  background: #fff;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header .campo-busca.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .campo-busca input {
  height: 100%;
  width: 100%;
  background: none;
  font-size: 1.3rem;
  color: black;
  padding: 0 1rem;
  border: none;
  outline: none;
}

.header .campo-busca .bx-search-alt-2 {
  font-size: 2rem;
  align-items: center;
  color: #14213d;
  padding: 2px 10px;
  cursor: pointer;
}

.header .campo-busca .bx-search-alt-2:hover {
  color: #ffa954;
}

.header .container-login {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.header .container-login.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .container-login h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #13293d;
}

.header .container-login .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: #0f3245;
  text-transform: none;
}

.header .container-login p {
  font-size: 1rem;
  padding: 1rem 0;
}

.header .container-login p a {
  color: #ffa954;
  text-decoration: underline;
  padding-left: 5px;
}

.botao {
  padding: 10px 30px;
  color: #0f3245;
  background: #ffa954;
  font-size: 1rem;
  font-weight: 600;
  transition: all 1s;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.botao:hover {
  transform: scale(1.2) translateY(10px);
}
/**fim-container header**/

/**inicio-container principal**/
.principal-bg {
  background: #0f3245;
}

.principal {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  padding-top: 150px;
}

.imagem-capa img {
  max-width: 100%;
  width: 600px;
  height: auto;
}

.principal-escrito {
  align-self: center;
}

.principal-escrito h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 3.3rem;
  margin-bottom: 10px;
}

.titulo-principal span {
  color: #ffa954;
}

.principal-escrito p {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

.imagem-story {
  display: flex;
  align-items: center;
}

.container-agendamento form {
  position: absolute;
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
  margin-top: 100px;
  border: 3px solid #14213d;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.container-agendamento .input-box {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.container-agendamento .input-box span {
  font-weight: 500;
  color: black;
}

.container-agendamento .input-box input {
  padding: 7px;
  outline: none;
  border: none;
  color: #14213d;
  background: #f2f2f2;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.container-agendamento .btn {
  padding: 15px 30px;
  margin-left: 30px;
  color: #14213d;
  background: #ffa954;
  font-size: 1rem;
  font-weight: 600;
  transition: all 1s;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.container-agendamento .btn:hover {
  transform: scale(1.2) translateY(5px);
}
/**sim-container principal**/

/**inicio-container serviços**/
.servicos-bg {
  background: #f2f2f2;
}

.titulo-serviços h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 70px;
  color: #14213d;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 180px;
}

.card {
  height: 230px;
  width: 200px;
  text-align: center;
  margin-top: 70px;
  transition: all 1s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  border-radius: 10px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card h4 {
  color: #1a2334;
  background-color: #e9e9e9;
  padding: 3px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 23px;
  cursor: pointer;
  border-radius: 4px;
}

.card:hover h4 {
  background: #14213d;
  color: #fff;
}

/**fim-container serviços**/

/**inicio-container-produtos**/
.texto-titulo-produtos h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 100px;
  color: #14213d;
}

.texto-titulo-produtos p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.container-produtos {
  max-width: 800px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.produtos {
  height: 300px;
  width: 220px;
  background: #f2f2f2;
  position: relative;
}

.imagem-produtos {
  overflow: hidden;
}

.imagem-produtos img {
  max-width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 0 auto;
  padding-top: 30px;
  transition: all 0.3s;
}

.imagem-produtos:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.produtos h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 0.9rem;
}

.produtos p {
  font-size: 0.8rem;
  padding-top: 15px;
  text-align: center;
}

.produtos .bx {
  background: #ffa954;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 0 0 0 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.produtos .bx:hover {
  background: green;
  color: #ffffff;
}

/**fim-container -produtos**/

/**inicio-container profissionais**/
.profissionais-bg {
  background: #f2f2f2;
}

.titulo-profissionais h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 20px;
  color: #14213d;
}

.container-profissionais {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1.5rem;
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-profissionais {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.imagem-profissionais {
  position: relative;
  z-index: 10;
}

.imagem-profissionais img {
  height: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contato-profissionais {
  width: 272px;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: #ffffff;
  border: 1px solid #14213d;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 0;
  transition: translateY(0.4s);
  opacity: 0;
  transition: all.8s;
}

.card-profissionais:hover .contato-profissionais {
  transform: translateY(100%);
  opacity: 1;
}

.contato-profissionais h2 {
  font-size: 2rem;
  padding-top: 10px;
}

.contato-profissionais i {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 20px;
  cursor: pointer;
}

.contato-profissionais .lab:hover {
  color: #ffa954;
  cursor: pointer;
}

.contato-profissionais button {
  padding: 7px 20px;
  background: #ffa954;
  color: #14213d;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.contato-profissionais button:hover {
  background: #14213d;
  color: #fff;
  border: none;
}

/**fim-container profissionais**/

/**inicio-container bar**/

.bar-bg {
  background: #0f3245;
  box-shadow: inset 0 280px #f2f2f2, inset 0 -220px #ffffff;
}
.imagem-bar {
  overflow: hidden;
}

.imagem-bar img {
  max-width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.imagem-bar:hover img {
  transform: scale(1.1);
}
.container-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 120px;
}

.conteudo-bar h1 {
  font-size: 5.5rem;
  color: #ffffff;
  font-weight: 600;
  line-height: 4.8rem;
  margin-bottom: 32px;
}

.conteudo-bar span {
  color: #ffa954;
}
.promocao-bar ul {
  padding-top: 40px;
  display: inline-block;
}

.promocao-bar li {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  display: block;
  padding-bottom: 15px;
  transition: 0.4s;
}

.promocao-bar ul li:hover {
  color: #ffffff;
  transform: translateX(-12px);
}

/**fim-container bar**/

/**inicio-container cliente**/

.cliente-bg {
  background: #f2f2f2;
}

.texto-cliente {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.texto-cliente h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #1a2334;
  line-height: 4.3rem;
  padding-top: 100px;
}
.texto-cliente span {
  font-size: 1.1rem;
  line-height: 3;
  font-weight: 600;
  color: #ffa954;
}

.container-clientes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 160px;
  padding-top: 120px;
}

.clientes {
  height: 350px;
  width: 260px;
  background: #f5f5f5;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all.4s;
}

.clientes:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.imagem-cliente img {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 10px;
}

.texto-cliente p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #0f3245;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.texto-cliente h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #0f3245;
}

/**fim-container cliente**/

/**inicio-container visita**/

.visita-bg {
  background: #ffffff;
}

.titulo-visita h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #0f3245;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.titulo-visita span {
  color: #ffa954;
}
.imagem-galeria {
  overflow: hidden;
}

.imagem-galeria img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.imagem-galeria img:hover {
  transform: scale(1.2);
}

.container-galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 250px;
  padding-bottom: 120px;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

/**fim-container visita**/

/**inicio-container contato**/

.contato-bg {
  background: #ffffff;
}

.titulo-contato h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #1a2334;
  padding-top: 120px;
  padding-bottom: 120px;
}

.conteudo-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
.imagem-contato {
  overflow: hidden;
}

.imagem-contato img {
  height: 100%;
  width: auto;
  object-fit: cover;
  transition: 0.4s;
}

.imagem-contato:hover img {
  transform: scale(1.2);
}
.formulario-contato {
  background: #f2f2f2;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form label {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 4px;
}

.form .coluna-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font-size: 1rem;
  font-weight: 300;
  left: 1.5;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 13px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #14213d;
  background: #f2f2f2;
}

.form button {
  padding: 20px 30px;
  font-size: 1.3rem;
  font-weight: 500;
  background: #ffa954;
  color: #14213d;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.form button:hover {
  background: #0f3245;
  color: #ffffff;
}

/**fim-container conato**/

/**inicio-container footer**/

.footer-bg {
  background: #0f3245;
  padding-bottom: 120px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  align-items: flex-start;
}

.endereco img {
  height: 210px;
  width: 210px;
  object-fit: cover;
}

.footer .endereco {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer .endereco-lista li:first-child::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  bottom: 125px;
  background: #ffa954;
}

.footer h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 35px;
  position: relative;
}

.footer h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background: #ffa954;
}

.footer ul li:not(last-child) {
  margin-bottom: 15px;
}

.footer ul li {
  font-size: 1rem;
  color: #fff;
}

.footer ul li a {
  font-size: 1.1rem;
  color: #9897a9;
  display: block;
  text-transform: capitalize;
  transition: 0.4s;
}

.footer ul li a:hover {
  color: #e9e9e9;
  transform: translateX(-12px);
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.redes a {
  height: 40px;
  width: 40px;
  background: #ffa954;
  color: #1a2334;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.4s;
}

.redes a:hover {
  transform: scale(1.2);
  color: #14213d;
  background: #fff;
}

/**fim-container footer**/
@media (max-width: 1650px) {
  .header {
    padding: 1rem 40px;
  }
}

@media (max-width: 1300px) {
  #menu-icon {
    display: initial;
    color: #ffa954;
  }
  .header {
    justify-content: space-between;
    padding: 1rem 60px;
  }

  .header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #0f3245;
    transition: 0.3s;
    color: #ffffff;
  }
  .header .navbar.active {
    top: 100px;
  }
  .navbar a {
    padding: 1.3rem;
    display: block;
    border-left: 2px solid #ffa954;
  }

  .navbar a:hover {
    color: #fff;
    background: #ffa954;
  }

  .navbar a::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .bar-bg {
    box-shadow: initial;
  }
  .container-bar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .imagem-bar img {
    max-width: 90%;
    border-radius: 4px;
  }
  .conteudo-bar h1 {
    font-size: 4rem;
    padding-left: 40px;
  }
  .promocao-bar ul {
    padding-left: 40px;
  }
  .container-profissionais {
    padding-bottom: 300px;
  }
  .contato-profissionais {
    display: none;
  }
}

@media (max-width: 875px) {
  .principal {
    width: 650px;
    grid-template-columns: 1fr;
    gap: 60px;
    padding-top: 200px;
  }

  .imagem-capa img {
    width: 500px;
    height: auto;
  }

  .principal-escrito h1,
  p {
    margin-bottom: 10px;
  }

  .endereco img {
    height: 100px;
    width: 100px;
  }
  .container-profissionais {
    padding-bottom: 80px;
  }
}
